# Taskwarrior reports

###
# Default report overrides

report.ready.columns=id,start.age,entry.age,depends.indicator,priority,project,tags,recur.indicator,scheduled.countdown,due.relative,until.remaining,description,urgency

# Use relative time for 'Due' column
report.waiting.columns=id,start.active,entry.age,depends.indicator,priority,project,tags,recur.indicator,wait,wait.remaining,scheduled,due.relative,until,description

# Limit results for 'newest' report
report.newest.filter=(status:pending or status:waiting) limit:20

###
# Custom reports

#####
# Task triaging

report.untriaged.description=Untriaged tasks
# Tasks that -
# * Are not completed or deleted
#
# AND ANY OF
#
# * Are tagged +Untriaged
# * Don't have a due date or until date
# * Are low priority and don't have an until date
report.untriaged.filter=(status.not:completed status.not:deleted status.not:waiting) -Triaged (+Untriaged or (due: until: ) or (priority:L until: ))
report.untriaged.sort=entry+
report.untriaged.columns=id,entry.age,priority,project,tags,scheduled.relative,wait.remaining,due.remaining,urgency,description.count
report.untriaged.labels=ID,Age,P,Project,Tags,S,Wait,Due,Urg,Description

report.triage.description=Show the next issue to triage
report.triage.sort=urgency-
report.triage.filter=(status.not:completed status.not:deleted status.not:waiting) -Triaged (+Untriaged or (due: until: ) or (priority:L until: )) limit:1
report.triage.columns=id,status,project,depends,tags,due.relative,until.relative,description.combined
report.triage.labels=ID,status.short,Project,Depends,Tags,Due,Until,Description

report.triage.description=What to do, right now
report.now.filter=status:pending +READY (+next)
report.now.sort=due+
report.now.columns=id,entry.age,priority,project,tags,scheduled.relative,wait.remaining,due.remaining,urgency,description.count
report.now.labels=ID,Age,P,Project,Tags,S,Wait,Due,Urg,Description

#####
# Timeline based reports

report.yesterday.description=Yesterday's completed tasks
report.yesterday.sort=project+\/,urgency-
report.yesterday.filter=status:completed end.after:yesterday end.before:today
report.yesterday.columns=id,project,urgency,description.count
report.yesterday.labels=ID,Project,urgency,Description

# Tasks that -
#   * Are active
#
# OR
#
#   * Are due today
#   * Become unwaited today
#   * Are scheduled for today
#
# OR
#
#   * Were completed today
#
report.today.description=Today's upcoming tasks
report.today.filter=(((wait.after:today wait.before:eod) or (due.after:today due.before:eod) or (scheduled.not: scheduled.after:today scheduled.before:tomorrow) or +ACTIVE) status.not:completed status.not:deleted) or (status:completed end:today)
report.today.sort=status+\/,wait+,urgency-
report.today.columns=id,entry.age,status.short,priority,project,tags,scheduled.relative,wait.remaining,due.remaining,urgency,description.count
report.today.labels=ID,Entry,Status,P,Project,Tags,S,Wait,Due,Urg,Description

report.tomorrow.description=Tomorrow's upcoming tasks
report.tomorrow.filter=((wait.after:tomorrow wait.before:tomorrow+1d) or (due.after:tomorrow due.before:tomorrow+1d) or (scheduled.after:tomorrow scheduled.before:tomorrow+1d) or +OVERDUE) status.not:completed status.not:deleted
report.tomorrow.sort=status+\/,due+,urgency-
report.tomorrow.columns=id,status.short,priority,project,tags,scheduled.relative,wait.remaining,due.relative,urgency,description.count
report.tomorrow.labels=ID,Status,P,Project,Tags,S,Wait,Due,Urg,Description

report.recent.description=Recently modified tasks
report.recent.filter=modified.after:now-16hr status.not:recurring
report.recent.sort=status+/,modified+
report.recent.columns=id,status,project,entry.age,modified.age,description.count
report.recent.labels=ID,Status,Project,Created,Modified,Description

#####
# Everything else

report.open.description=All open tasks
report.open.sort=project+\/,entry-
report.open.filter=status.not:completed status.not:deleted status.not:recurring
report.open.labels=ID,Project,Status,D,W,S,Due,Until,P,Entry,Urgency,Description
report.open.columns=id,project,status.short,depends,wait.relative,scheduled.relative,due.remaining,until.remaining,priority,entry,urgency,description.count

report.yaks.description=Domesticated Himalayan Long Haired Cattle
report.yaks.filter=(entry.after:now-1w or end.after:now-1w) +Yaks
report.yaks.sort=status+/,entry+
report.yaks.columns=id,project,entry.age,status,tags,recur.indicator,scheduled.countdown,until.remaining,description.count
report.yaks.labels=ID,Project,Entry,Status,Tags,R,S,Until,Description
